@charset "UTF-8";
h1{
    font-family: 'Arial';
    font-size: 16pt;
    color: blue;
    border-top: 1pt solid #bbb;
    margin-top: 80px;
    padding-top: 20px;

}
h2,h3{
    font-family: 'Arial';
    font-size: 12pt;
    color: #666;
    margin-top: 0px;

}

section#corpo p a {
    font-size: 10pt;
    color: #666;
}